body{
    font-family: 'Bungee', cursive;
    background-color: #ff022b;
    text-align: center;
}

h1{
    font-family:'Bungee Shade', cursive;
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: -60px;
}

h4{
    font-size: 30px;
    margin-bottom: -40px;
}

span{
    font-size: 40px;
}

footer{
    font-size: 10px;
}

#imgCat{
    max-width: 30em;
    max-height: 20em;
    margin-bottom: -30px;
}

#timeEvent{
    margin: -70px 0px 100px 0px;
    font-size: 30px;
}