body{
    background-color: #ff022b;
}

h1{
    font-family:'Bungee Shade', cursive;
    font-size: 60px;
    margin-bottom: -40px;
}

h4{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    margin-bottom: -50px;
}

h3{
    font-family: 'Bungee', cursive;
    font-size: 40px;
}